<header id="index-header">
  <div class="top-center">
      <div class="logo">
          <a href="{{ "/" | relative_url }}" title="温度">{{ site.webtitle }}</a>
      </div>
      <nav class="top-nav">
          <ul>
              {% for i in site.nav %}
                <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
              {% endfor %}
          </ul>
      </nav>
      <div id="top-boot">
        <a href="javascript:;" id="boot1" style="display:block;" onclick="document.getElementById('boot-area').style.display='block';document.getElementById('boot1').style.display='none';document.getElementById('boot2').style.display='block';"><img src="/assets/boot.png" alt=""></a>
        <a href="javascript:;" id="boot2" style="display: none;" onclick="document.getElementById('boot-area').style.display='none';document.getElementById('boot1').style.display='block';document.getElementById('boot2').style.display='none';"><img src="/assets/boot.png" alt=""></a>
      </div>
  </div>

</header>
<div id="app-cover">
    <div id="bg-artwork"></div>
    <!--<div id="bg-layer"></div>-->
    <div id="player">
        <div id="player-track">
            <div id="album-name"></div>
            <div id="track-name"></div>
            <div id="track-time">
                <div id="current-time"></div>
                <div id="track-length"></div>
            </div>
            <div id="s-area">
                <div id="ins-time"></div>
                <div id="s-hover"></div>
                <div id="seek-bar"></div>
            </div>
        </div>
        <div id="player-content">
            <div id="album-art">
                <img src="http://hewenlu.top/uploads/fuqin.jpg" class="active" id="_1">
                <img src="http://hewenlu.top/uploads/jinan.jpg" id="_2">
                <img src="http://hewenlu.top/uploads/yujian.jpg" id="_3">
                <!--<div id="buffer-box">缓冲…</div>-->
            </div>
            <div id="player-controls">
                <div class="control">
                    <div class="button" id="play-previous">
                        <i class="fas fa-backward"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" id="play-pause-button">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" id="play-next">
                        <i class="fas fa-forward"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div style="display: none;" id="phone-audio">-->
    <!--<audio src="http://47.95.121.201/uploads/music/love.mp4" autoplay="autoplay" loop="loop" controls="controls">-->
        <!--您的浏览器不支持 audio 标签。-->
    <!--</audio>-->
<!--</div>-->
<style>
    @media screen and (max-width: 1200px) {
        #app-cover {
            display: none;
        }
        /*#phone-audio{*/
            /*display: block;*/
        /*}*/
    }
</style>

